### C ###
## Ignore executables ##
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore makefiles
![Mm]akefile
# Unignore testutils
!summarisetests

# Unignore Presentation PDF
!doc/Presentation.pdf

# Ignore junk files from compiling C code
*.o

# Ignore library files to prevent cross platform raylib issues
*.a

### LaTeX ###
*.out
*.log
*.aux
*.dvi
*.ps

### Other ###
# Ignore temp files
*~

# Ignore other junk files
*.backup
*.kate-swp
*.swp
*.snm
*.vrb
*.nav
*.toc

# Ignore pdf files (just keep source files)
*.pdf

# Ignore vscode settings
.vscode

# Ignore macOS files
.DS_Store